Flask
flask-cors
requests
python-dotenv
pydub
gunicorn
hume
openai
cognee
scikit-learn
numpy
librosa
sounddevice
pickle-mixin
sqlalchemy
psycopg2-binary
redis
celery
schedule
datetime
textstat
nltk
spacy
transformers
torch